# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Node / pnpm
node_modules/
.pnpm-store/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
